body{
    color:#11ebd8;
    background:#05eb33;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.heading{
    width:80%;
    font-size:35px;
}
#camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:rgb(255, 255, 47)
}